@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background: #00ffff;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i {
    font-size: 7.5em;
    color: #000000;
    border: 5px solid transparent;
    outline: 3px solid #00ffff;
    border-radius: 50%;
}

h2 {
    font-size: 3em;
    color: #000000;
    margin: 20px 0;
}

.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #00ffff;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px #00ffff;
}

button:nth-child(1){
    margin-left: -200px;
    background: #00ffff;
}

button:nth-child(2){
    margin-right: -200px;
    color: #000000;
}